<br>
<br>
<div class="container">
    <h1>Theatre Events</h1>
    <br>
    <br>
     
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Price</th>
        <th>Availability</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let event of events">
        <td>{{ event.id }}</td>
        <td>{{ event.name }}</td>    
        <td>{{ event.date | date:'medium' }}</td>    
        <td>{{ event.price }} €</td>    
        <td>{{ (event.seatsAvailable /  event.seatsTotal)*100 | number: '2.0-2' }}% </td>    


        <td>
          <a href="#" [routerLink]="['/event/', event.id, 'view']" class="btn btn-info">Buy Ticket</a>
      

        </td>
      </tr>
    </table>

    <br/>
    <a href="#" routerLink="" class="btn btn-primary">Back</a>

 </div>