<br>
<div class="container">
    <h1>Theatre Events</h1>
    <br>
    <br>
    <div *ngIf="role === 'admin'"  >
     
      <div *ngIf="past_events.length" >
    <h3>Your Expired Events</h3>
    <table   class="table table-bordered">
      <tr>
        <th width="200px">Logo</th>
        <!-- <th>ID</th> -->
        <th>Name</th>
        <th>Date</th>
        <th>Price</th>
        <th>Sold</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let event of past_events">
        <td>
          <div>
            <img src={{event.image}} class="img-fluid img-thumbnail rounded" />
          </div> 
        </td>    
        <!-- <td>{{ event.id }}</td> -->
        <td>{{ event.name }}</td>    
        <td>{{ event.date | date:'medium' }}</td>    
        <td>{{ event.price }} €</td>    
        <td>{{ (1-event.seatsAvailable /  event.seatsTotal)*100 | number: '2.0-2' }}% </td>    


        <td>
          <a *ngIf="email === event.email"  href="#" [routerLink]="['/tickets/', event.id]" class="btn btn-info">View Tickets</a>
      

        </td>
      </tr>
    </table>
  </div>

  </div>


    <h3>Upcoming Events</h3>
    <table class="table table-bordered">
      <tr>
        <th width="200px">Logo</th>
        <!-- <th>ID</th> -->
        <th>Name</th>
        <th>Date</th>
        <th>Price</th>
        <th>Availability</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let event of upcoming_events">
        <td>
          <div>
            <img src={{event.image}} class="img-fluid img-thumbnail rounded" />
          </div> 
        </td>    
        <!-- <td>{{ event.id }}</td> -->
        <td>{{ event.name }}</td>    
        <td>{{ event.date | date:'medium' }}</td>    
        <td>{{ event.price }} €</td>    
        <td *ngIf="role === 'admin'"  >{{ (event.seatsAvailable /  event.seatsTotal)*100 | number: '2.0-2' }}% </td>   
        <td *ngIf="role === 'user'" style="color:green" >Tickets Available</td>     


        <td>
          <a href="#" [routerLink]="['/event/', event.id, 'view']" class="btn btn-info">Buy Ticket</a>

          <a *ngIf="email === event.email"   href="#" [routerLink]="['/tickets/', event.id]" class="btn btn-info">View Tickets</a>
      

        </td>
      </tr>
    </table>

    <br/>
    <a href="#" routerLink="" class="btn btn-primary">Back</a>

    <button  *ngIf="role === 'admin'"  href="#" [routerLink]="['/newEvent/', id]"  type="button" class=" mx-2 btn btn-primary">Add new Event</button>

 </div>