<div class="container">
    <h1>My Theatres</h1>
    <br>
    <br>



     
    <table class="table table-bordered">
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Location</th>
        <th>Seats</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let theatre of theatres">
        <td>     
          <div>
          <img src={{theatre.image}} class="img-fluid img-thumbnail rounded" />
        </div> </td>
        <td>{{ theatre.name }}</td>    
        <td>{{ theatre.location }}</td>
        <td>{{ theatre.seats }}</td>

        <td>
          <a href="#" [routerLink]="['/theatre/', theatre.id, 'view']" class="btn btn-info">View Events</a>
      

        </td>
      </tr>
    </table>

  </div>
